@using RunningClub.Misc
@model RunningClub.ViewModels.DashboardViewModel

<div class="card w-25 account-info-card shadow d-flex flex-column">
    <div class="card-body d-flex flex-column" id="userInfo">
        
    </div>
</div>
<script>
    getUserInfo('@Model.Id');
</script>
