@{
    ViewData["Title"] = "Races";
}

<h1 class="text-center mb-3">Races</h1>

<!-- Outer Container -->
<div class="outer-container">
    <!-- Vertical List Container -->
    <div class="vertical-scroller" id="raceList">
        
    </div>
</div>
<script>
    getRaces()
</script>
