@{
    ViewData["Title"] = "Clubs";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-3 d-flex justify-content-end">
        <a asp-action="Create" asp-controller="Club" class="btn btn-primary">
            +Create Club
        </a>
    </div>
}
<h1 class="text-center mb-3">Clubs</h1>
<div id="clubList" class="container my-5">

</div>
<script>
    window.onload = function() {
        getClubs();
    };
</script>